@import "settings";
@import "foundation/components/global";
@import "foundation/components/grid";


/*begin global styles*/
code{
	background: #333;
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0px 0px 20px 0px;
	padding: 2%;
	width: 100%;
}
.toggle-code{
	/*background: #555;*/
	display: block;
	font-size: 0.8em;
	margin-bottom: 20px;
	margin-top: -12px;
	width: 80px;
}
html .grid{
	background: #f5f5f5;
	border:1px solid #DDD;
	color: #555;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
}
/*end global styles*/

/*begin content*/
#content{
	@include grid-row;
	margin-bottom: $block-grid-default-spacing;

	ul li{
		list-style-type: disc;
	}
	#secnav{
		@media #{$small} {
			@include grid-column(2);
		}
		padding: 0px emCalc(15);

		ul li{
			list-style-type: none;
		}
	}
}
#primary{
	@media #{$small} {
		@include grid-column(10);
		margin: 0px 0px 30px 0px;
	}

	padding: 0px emCalc(15);
}
#secondary{
	@media #{$small} {
		@include grid-column(10, false, false, 4);
		padding: 0px $block-grid-default-spacing;
	}
	@media #{$medium} {
		@include grid-column(3, false, false, 0);
	}
}
#content .side-nav li{
	list-style-type: none;
}
/*end content*/


/*begin brand blocks*/
.brand-color{
	padding: 10% 4%;
	text-align: center;
	border: $border-thickness $border-style $border-color;
}
#primary-color-a{
	background-color:$primary-color;
	color: #FFF;
}
#primary-color-b{
	background-color:$primary-color-b;
	color: #FFF;
}
#primary-color-c{
	background-color:$primary-color-c;
	color: #555;
}
#secondary-color-a{
	background-color:$secondary-color;
	color: #FFF;
}
#secondary-color-b{
	background-color:$secondary-color-b;
	color: #FFF;
}
#secondary-color-c{
	background-color:$secondary-color-c;
	color: #555;
}
#secondary-color-d{
	background-color:$secondary-color-d;
	color: #fff;
}
#secondary-color-e{
	background-color:$secondary-color-e;
	color: #fff;
}
#secondary-color-f{
	background-color:$secondary-color-f;
	color: #fff;
}
#secondary-color-g{
	background-color:$secondary-color-g;
	color: #fff;
}
/*end brand blocks*/
